@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar-animation-eyebrow-left {
  animation: avatar-animation-eyebrow-left 0.7s infinite ease-in-out;
  transform-origin: center;
}
*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
@keyframes avatar-animation-eyebrow-left{
  0% {
    transform: matrix(
      1,
      0,
      0,
      1,
      284.4939880371094,
      310.3994445800781
    );
  }
  50% {
    transform: matrix(1, 0, 0, 1, 284.4939880371094, 300);
  }
  100% {
    transform: matrix(
      1,
      0,
      0,
      1,
      284.4939880371094,
      310.3994445800781
    ); 
  }
}

.avatar-animation-eyebrow-right {
  animation: avatar-animation-eyebrow-right 0.7s infinite ease-in-out;
  transform-origin: center;
}

@keyframes avatar-animation-eyebrow-right {
  0% {
    transform: matrix(1, 0, 0, 1, 519.7620239257812, 310.3994445800781);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 519.7620239257812, 300);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 519.7620239257812, 310.3994445800781);
  }
}
.animation {
   
    /* animation: 250ms ease-out 0s 1 normal both running bOuAhF; */
    animation: dqwvcz 333ms ease-in-out 0s infinite alternate both running;
}

@keyframes dqwvcz {
    0% {
        transform: translateY(0);
    }
  
    100% {
        transform: translateY(2.5px);
    }
}

.avatar-eye-animation {
    animation: avatar-eye-animation 0.6s infinite alternate both ease-in-out;
    transform-origin: center;
}

@keyframes avatar-eye-animation {
    0% {
       transform:matrix(1,0,0,1,0,-2);
    }
    100% {
        transform:matrix(1,0,0,1,0,-12);
    }
}



@keyframes colorTransition {
  0% {
    color: #D62829; /* Red */
    transform: scale(1);
  }
  50% {
    color: #FFD700; /* Gold */
    transform: scale(1.25);
  }
  100% {
    color: #D62829;
    transform: scale(1);
  }
}

@keyframes dotAnimation {
  0%, 100% {
    opacity: 0;
    transform: scale(0.8) translateY(0px);
  }
  50% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.animate-color-transition {
  animation: colorTransition 2s ease-in-out infinite; /* Smooth color and scaling */
  display: inline-block;
}

.animate-dot {
  animation: dotAnimation 1.5s ease-in-out infinite; /* Smooth appearing effect */
  display: inline-block;
}
